/* color palette: https://colorhunt.co/palette/f4f6fff3c623eb831710375c */

@media (min-width: 0px){
    h1 {
        font-size: 72px;
        text-decoration: underline;
    }
    
    h2 {
        font-size: 54px;
    }
    
    p {
        font-size: 24px;
    }
    
    .page-parts {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .content{
        display: flex;
        height: 150vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .container {
        padding: 20px;
    }
    
    .content a {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
    }
    
    .link-box, .link-box img {
        border: solid;
        border-width: 2px;
    }
    
    .link-box {
        width: 100vw;
        border-radius: 2%;
        padding: 20px;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (min-width: 1300px){
    h1 {
        font-size: 72px;
        text-decoration: underline;
    }
    
    h2 {
        font-size: 54px;
    }
    
    p {
        font-size: 24px;
    }
    
    .page-parts {
        display:flex;
        flex-direction: column;
    }
    
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .container {
        padding: 20px;
    }
    
    .content a {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
    }
    
    .link-box, .link-box img {
        border: solid;
        border-width: 2px;
    }
    
    .link-box {
        border-radius: 2%;
        padding: 20px;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (prefers-color-scheme: dark){
    body {
        color: #F4F6FF;
        background-color: #10375C;
    }
    h1, h2, a, a:visited {
        color: #EB8317;
    }
    a:hover {
        color: #F3C623;
    }
    .container {
        background-color: #0b2640;
    }

    .link-box, .link-box img {
        background-color: #0b2640;
        border-color: #EB8317;
    }

    .link-box {
        color: white;
    }

    .link-box:hover{
        color: #0b2640;
    }

    .link-box:hover, .link-box:hover img{
        color: #0b2640;
        background-color: #F3C623;
        border-color: #0b2640;
    }
    
}

@media (prefers-color-scheme: light){
    body {
        color: #0b2640;
        background-color: #F4F6FF;
    }
    h1, h2, a, a:visited {
        color: #0b2640;
    }
    a:hover {
        color: #EB8317;
    }
    .container {
        background-color: #DBDDE5;
    }

    .link-box, .link-box img {
        background-color: #DBDDE5;
        border-color: #10375C;
    }

    .link-box {
        color: #0b2640;
    }

    .link-box:hover{
        color: #0b2640;
    }

    .link-box:hover, .link-box:hover img{
        background-color: #EB8317;
        border-color: #0b2640;
    }
}