/* color palette: https://colorhunt.co/palette/f4f6fff3c623eb831710375c */

@media (prefers-color-scheme: dark){
    body {
        color: #F4F6FF;
        background-color: #10375C;
    }
    h1 {
        color: #F3C623;
    }
    a {
        color: #F3C623;
    }
    a:visited {
        color: #EB8317;
    }
    a:hover {
        color: red;
    }
}

@media (prefers-color-scheme: light){
    body {
        color: #F4F6FF#10375C;
        background-color: #F4F6FF;
    }
    h1 {
        color: #EB8317;
    }
}